@import "tailwindcss";

/* Optional: If you find that the scrollbar looks out of place on the amber CRT screen, 
  you can hide it with this custom class that was used in the component.
*/
@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .row-gap-4 {
        row-gap: 1.2rem;
    }
}

/* This file runs in the browser and imports your global CSS so it applies everywhere */
/* import './src/styles/global.css'; */